<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ibcom App</title>
  <link rel="stylesheet" href="Css/login.css">
<link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
      
</head>

    
<body class="bg-gradient-primary sl" style="background-color:#323CEA;">>

  <div class="container">

    

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image p-4 rounded"><img src="images/ib.jpg"  height="600px" width="100%"/>
</div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome !</h1>
                  </div>
                  <form class="user"  action="/login" method="POST">
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="exampleInputEmail" name="username" placeholder="Enter Username...">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="exampleInputPassword" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div>
                    <button role="button" type="submit" class="btn btn-primary btn-user btn-block">
                      Login
                    </button>
                    <hr>
                    
                  </form>
                  <hr>
                 
                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  

  

</body>

</html>